.logoutButton {
	background: red;
	border-radius: 5px;
	padding: 6px 20px;
	margin-left: 20px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	border: none;
}

.logoutButton:hover {
	background: rgb(170, 9, 9);
	transform: scale(1.1);
}

.logoutButton:active {
	box-shadow: none;
	transform: translateY(4px) scale(1.1);
}

.registerButton {
	background: red;
	border-radius: 5px;
	padding: 6px 20px;
	margin-left: 20px;
	box-shadow: 0 3px rgb(189, 189, 189);
	/* transition: all 0.2s ease-in; */
}

.registerButton:hover {
	background: rgb(170, 9, 9);

	transform: scale(1.1);
}

.registerButton:active {
	box-shadow: none;
	/* transform: scale(1.1); */
	transform: translateY(4px) scale(1.1);
}