.form {
	display: flex;
	flex-direction: column;
	margin: 10vw auto;
}

.fieldset {
	display: flex;
	justify-content: center;
	border: none;
	height: 100%;
	margin: 0 auto;
	max-width: 200px;
}

.inputs {
	color: gray;
	border-radius: 5px;
	padding: 0 10px;
	margin: 20px auto;
	width: 100%;
	max-width: 325px;
	height: 35px;
}

.submit {
	margin: 20px auto;
	min-width: 120px;
	text-transform: uppercase;
}

.registerLink {
	color: rgb(230, 230, 230);
	font-size: 0.9rem;
	text-decoration: none;
	text-decoration: underline;
}

.registerLink:hover {
	color: red;
	font-style: italic;
}