.fieldset {
	display: flex;
	justify-content: center;
	border: none;
	margin: 20px auto;
	max-width: 200px;
}

.inputs {
	color: gray;
	border-radius: 5px;
	padding: 0 10px;
	margin: 10px auto;
	width: 100%;
	max-width: 325px;
	height: 35px;
}

.submit {
	margin: 0 auto;
}