body:before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	background: rgb(233, 234, 235);
}

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(2, 8, 15);
  font-family: sans-serif;
  text-align: center;
}

